html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;

  padding: 0rem 5rem 4rem 5rem;
}
/*Header*/
header {
  height: 10rem;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 4.5rem;
  width: 9.5rem;
  margin-top: -0.8rem;
}

#navigation {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  list-style-type: none;
}
/*Lien header*/
nav a {
  border-top: 0.3rem solid transparent;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

nav a:hover {
  border-top: 0.3rem solid #0065fc;
}

#accomodation {
  color: #0065fc;
  font-weight: 500;
  padding-top: 3.8rem;
}
#to_register {
  color: #0065fc;
  font-weight: 700;
  margin-bottom: 0.2rem;
  line-height: 9.5rem;
  outline: transparent;
}
#activity {
  font-weight: 500;
  padding-top: 3.8rem;
}
/*Champ de recherche et preference*/
/*Titre + petit paragraphe*/
#intro {
  margin-bottom: 2rem;
}

h1 {
  font-weight: 800;
  font-size: 2.1rem;
}
#title {
  margin-bottom: 0rem;
}
#sub_title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
/*barre de recherche*/

/* icone*/
form {
  display: flex;
  height: 4rem;
  width: 40rem;
  border: 1px solid #f2f2f2;

  border-radius: 1.5rem;
}
#center {
  display: flex;
  background-color: #f2f2f2;
  height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  align-items: center;
}

form i {
  font-size: 1.6rem;
  width: 5rem;
  text-align: center;
}
/*champ de recherche*/
#mysearch {
  border: none;
  height: 3.8rem;
  width: 22rem;
  margin: auto;
}

/* Modification du place holder */
::-webkit-input-placeholder {
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
  margin: auto;
  padding-left: 1rem;
}
button {
  border: none;
  background-color: #0065fc;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 13rem;
}

/*Boutton recherche*/
button span {
  color: white;
  font-size: 1.6rem;
}

#isearch {
  display: none;
}
/*Liste de filtres et de preference*/
#filter {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
#filter h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 1.5rem;
}
#preference ul {
  display: flex;
}
#preference ul li {
  height: 4rem;
  width: auto;
  display: flex;
  align-items: center;
  border: 0.2rem solid #dbdbdb;
  border-radius: 2.5rem;
  border-left: none;
  margin: 1.5rem 1.5rem 0rem 1.5rem;
}

#preference ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 2rem;
}
#preference ul li i {
  width: 4.4rem;
  line-height: 4.3rem;
  margin-right: 1.5rem;
  margin-left: -0.1rem;
  border-radius: 2.5rem;
  font-size: 1.8rem;
  color: #0065fc;
  background-color: #deebff;
  text-align: center;
}

#preference ul li a:hover {
  text-decoration: underline;
  color: #f2f2f2;
  background: #0065fc;
  border-radius: 2.5rem;
}

/*Commentaire en dessous des filtres*/

#com {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#com i {
  border: 0.1rem solid #deebff;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 2.5rem;
  font-size: 1.4rem;
  color: #0065fc;
}
#com p {
  margin-left: 1rem;
}
/* Section hebergement + le aside populaire*/
#accommodations {
  display: flex;
  justify-content: space-between;
}

#article {
  height: 60rem;
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 2.5rem;
}
#article h2 {
  margin-left: 4rem;
  font-size: 2rem;
  margin-top: 4rem;
  font-weight: 800;
}
#place {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: 45rem;
  margin-top: 3rem;
}
#place figure {
  width: 22rem;
  height: 18rem;
  border-radius: 2.5rem;
  background-color: white;
  padding: 0.4rem 0.4rem 0rem 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.312);
  margin-left: 1rem;
  margin-right: 1rem;
}
#place figure img {
  width: 22rem;
  height: 11rem;
  object-fit: cover;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
.under_img {
  padding-left: 1rem;
}
.under_img h3 {
  margin-top: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: black;
}
.under_img p {
  margin-top: 0.8rem;
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
}

.under_img i {
  color: #0065fc;
  font-size: 1.1rem;
  margin-top: 0.8rem;
}
.under_img i.empty_stars {
  color: #dbdbdb;
}

#article button {
  width: auto;
  height: auto;
  margin-left: 4rem;
  border: none;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  background-color: #f2f2f2;
}
/*Aside*/

aside {
  width: 30%;
  height: 60rem;
  background-color: #f2f2f2;
  border-radius: 2.5rem;
}
aside h2 {
  margin-left: 4rem;
  font-size: 2rem;
  margin-top: 4rem;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
}
#ico {
  font-size: 2.1rem;
}

aside #popular {
  height: 45rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.popu {
  border-radius: 2.5rem;
  height: 13rem;
  width: 30rem;
  display: flex;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.312);
  margin-bottom: 3rem;
}
.popu img {
  height: 13rem;
  width: 12rem;
  object-fit: cover;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}
.popu figcaption {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.popu figcaption h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
}
.popu figcaption p {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: black;
}
.popu figcaption i {
  margin-top: 4.5rem;
  color: #0065fc;
  font-size: 1.1rem;
}
.popu figcaption i.grey_stars {
  color: #dbdbdb;
}
aside #popular a {
  height: 13rem;
}
#accommodations a {
  text-decoration: none;
  height: 18rem;
}
#accommodations a:focus {
  outline: none;
}
/*Section activés a Marseille*/
#activities {
  margin-top: 5rem;
}
#activities h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
#place_to_see {
  display: flex;

  justify-content: space-between;
}
#place_to_see figcaption {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-left: 2rem;
}
.full {
  width: 27rem;
  height: 40rem;

  border-radius: 2.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.146);
}
.full img {
  width: 27rem;
  height: 35rem;
  object-fit: cover;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
.duo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27rem;
  height: 40rem;
}
#pomegue {
  width: 27rem;
  height: 22rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.146);
}

#pomegue img {
  width: 27rem;
  height: 17rem;
  object-fit: cover;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
#frioul {
  width: 27rem;
  height: 15rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.146);
}
#frioul img {
  width: 27rem;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
.garde {
  width: 27rem;
  height: 18rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.146);
}

.garde img {
  width: 27rem;
  height: 13rem;
  object-fit: cover;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
#place_to_see a {
  text-decoration: none;
}
#place_to_see a:focus {
  outline: none;
}
#place_to_see h3 {
  color: black;
}
/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  height: 22rem;
  margin-top: 5rem;
  margin-left: -5rem;
  margin-bottom: -4rem;
  margin-right: -5rem;
  background-color: #f2f2f2;
}
.liste {
  margin-right: 17rem;
  margin-left: 5rem;
}
.liste h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
}
.liste ul li {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.liste a {
  text-decoration: none;
  color: black;
}
/*Media Quierie */
/*1260px*/

@media all and (max-width: 1260px) {
  body {
    width: auto;
  }
  #accommodations {
    flex-direction: column-reverse;
    margin-right: 2rem;
  }

  #article {
    margin-top: 3rem;
    width: 100%;
  }
  #place {
    justify-content: space-evenly;
  }
  aside {
    width: 100%;
  }
  aside h2 {
    width: 80%;
    margin-left: 11rem;
    justify-content: space-between;
  }

  aside #popular a {
    width: 80%;
  }

  .popu {
    width: 100%;
  }
  .popu img {
    width: 40%;
  }
  #place_to_see {
    width: auto;
  }
  .full {
    margin-right: 2rem;
    width: 95%;
  }

  .full img {
    width: 100%;
  }
  .full_l {
    width: 25%;
  }
  .duo {
    margin-right: 2rem;
    width: 25%;
  }

  #pomegue {
    width: 100%;
  }

  #pomegue img {
    width: 100%;
  }
  #frioul {
    width: 100%;
  }

  #frioul img {
    width: 100%;
  }

  .garde {
    width: 100%;
  }
  .garde img {
    width: 100%;
  }
}

/*971px filtres etc etc */

@media all and (max-width: 971px) {
  #filter {
    flex-wrap: wrap;
  }

  #filter ul {
    flex-wrap: wrap;
  }
  #preference ul li {
    margin-left: 0rem;
  }
}
/*MQ 903px article*/

@media all and (max-width: 903px) {
  #accommodations {
    height: 100%;
  }

  
    
  

 

  
  
  

/*MQ 840pxl ajustage activités marseille+Footer*/

@media all and (max-width: 840px) {
  #place {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  #activities {
    width: 38rem;
  }
  #activities h2 {
    margin-left: 2rem;
  }

  #place_to_see {
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 3rem 2rem 1.5rem 2rem;
  }
  .full {
    width: 100%;
    height: 100%;
    margin-right: 0rem;
  }
  .full img {
    height: 13rem;
  }
  .duo {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 0rem;
  }
  #pomegue {
    height: auto;
  }

  #pomegue img {
    height: 13rem;
  }

  #frioul {
    height: auto;
  }

  #frioul img {
    height: 13rem;
  }

  .garde {
    height: auto;
  }

  .garde img {
    height: 13rem;
  }

  #place_to_see figcaption {
    margin: 0rem;
    padding: 2rem 0rem 2rem 2rem;
  }

  footer {
    justify-content: flex-start;
    height: auto;
    margin-top: 0rem;
  }

  .liste {
    margin-right: 5rem;
  }
}

/*600px*/
@media all and (max-width: 600px) {
  body {
    padding: 0rem 2rem 0rem 2rem;
  }

  #navigation {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 50%;
  }

  nav ul {
    width: 100%;
    margin-right: 10rem;
    border-bottom: 0.3rem solid #dbdbdb;
    padding-bottom: 1.2rem;
  }
  nav li {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  #accomodation {
    padding-top: 0rem;
    padding-bottom: 0.99rem;
    border-top: none;
    border-bottom: 0.3rem solid #dbdbdb;
  }
  #accomodation:hover {
    border-bottom: 0.3rem solid #0065fc;
  }
  #activity {
    padding-top: 0rem;
    padding-bottom: 0.99rem;
    border-top: none;
    border-bottom: 0.3rem solid #dbdbdb;
  }
  #activity:hover {
    border-bottom: #0065fc 0.3rem solid;
  }

  #to_register {
    margin-top: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-right: 5rem;
    outline: transparent;
  }
  #to_register:hover {
    border-top: 0.3rem solid transparent;
  }

  #preference {
    border-top: none;
    margin-top: 3rem;
  }
  form {
    width: 100%;
  }

  button {
    border-radius: 1.5rem;
    width: auto;
  }
  button span {
    display: none;
  }

  #isearch {
    display: block;
    margin: auto;
    color: white;
    font-size: 1.8rem;
  }

  #accommodations {
    width: 100%;
  }
  aside {
    width: 100%;
  }

  aside h2 {
    margin-left: 2rem;
  }
  #activities {
    width: 100%;
  }

  footer {
    flex-direction: column;
    margin: 0rem -2rem 0rem -2rem;
  }
}
