html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}
/*Header*/
header nav {
  display: flex;
  justify-content: space-between;

  height: 10rem;
}

nav img {
  height: 45px;
  margin: 4rem 0rem 0rem 5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  margin: 3.5rem 5rem 0px 2.5rem;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-top: 5.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5.1rem;
  border-top: 0.5rem solid #deebff;
}

nav a:hover {
  border-top: 0.5rem solid #0065fc;
}

#hebergement {
  color: #0065fc;
  font-weight: 400;
  height: 2rem;
}
#s_inscrire {
  color: #0065fc;
  font-weight: 900;
}
/*Champ de recherche et preference*/

h1 {
  font-weight: 900;
  font-size: 2.2rem;
  margin-left: 5rem;
}
#titre {
  margin-bottom: 0rem;
}
#sous_titre {
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: 1.5rem;
}
