html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}
/*Header*/
header nav {
  display: flex;
  justify-content: space-between;

  height: 10rem;
}

nav img {
  height: 45px;
  margin: 4rem 0rem 0rem 5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  margin: 3.5rem 5rem 0px 2.5rem;
  list-style-type: none;
}
/*Lien header*/
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  border-top: 0.3rem solid #deebff;
}

nav a:hover {
  border-top: 0.3rem solid #0065fc;
}

#hebergement {
  color: #0065fc;
  font-weight: 400;
  height: 2rem;
}
#s_inscrire {
  color: #0065fc;
  font-weight: 900;
}
/*Champ de recherche et preference*/
/*Titre + petit paragraphe*/
h1 {
  font-weight: 900;
  font-size: 2rem;
  margin-left: 5rem;
  padding-top: 1rem;
}
#titre {
  margin-bottom: 0rem;
}
#sous_titre {
  margin-top: 1rem;
  margin-left: 5.2rem;
  font-size: 1.4rem;
}
/*barre de recherche*/
#search {
  padding-left: 4.5rem;
  display: flex;
}
/* icone*/
#search i {
  font-size: 1.6rem;
  padding: 2.1rem 2rem 1.3rem 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: #f2f2f2;
}
/*champ de recherche*/
#mysearch {
  padding: 1rem 2.8rem 0.6rem 1rem;
  border: none;
}

form {
  height: 3rem;
  width: 37.7rem;
  border: 1px solid #f2f2f2;
  padding-bottom: 2rem;
  border-radius: 1.5rem;
}

/* Modification du place holder */
::-webkit-input-placeholder {
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  vertical-align: center;
}

/*Boutton recherche*/
#button {
  padding: 1.9rem 2.5rem 1.2rem 1.2rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border: none;
  color: white;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
/*Liste de filtres, je n'arrive pas a bouger les text dans les li pour le centrer*/
#preference ul {
  display: flex;
  justify-content: left;

  list-style-type: none;
}
#preference ul li {
  margin: 1.5rem 1.5rem 1.5rem 1rem;
  font-size: 1.6rem;
}

#preference ul li a {
  text-decoration: none;
  color: black;
  margin-right: 1.2rem;
  border: 0.2rem solid #dbdbdb;
  padding: 1rem 0.2rem 1.2rem 0rem;
  border-radius: 3rem;
  margin-right: 3rem;
  font-weight: 900;
}
#preference ul i {
  margin-right: 1.5rem;
  margin-left: -0.2rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  color: #0065fc;
  background-color: #deebff;
}
#filtres {
  font-weight: 800;
}
/*Commentaire en desous des filtres*/
